<h1 class="center">Report an Outbreak:</h1>

<div id="outbreak-form" class="container">

  <%= form_for(@outbreak, url: report_path) do |f| %>
    <%= f.label :address, class: "form-text" %>
    <%= f.text_field :address %>

    <%= f.label :danger_level, id: "form-dropdown", class: "form-text" %>
    <%= f.select :danger, (0..10).map {|i| [i,i] } %>

    <%= f.submit "Report Outbreak", class:"submit-btn" %>
  <% end %>
</div>
