<h1 class="center">Create New Item:</h1>


<div id="item-form" class="container">
  <%= form_for(@item, url: admin_items_path(@item)) do |f| %>
    <%= f.label :title, class: "form-text" %>
    <%= f.text_field :title %>

    <%= f.label :description, class: "form-text" %>
    <%= f.text_field :description %>

    <%= f.label :price, class: "form-text" %>
    <%= f.text_field :price %>

    <%= f.label :category, id: "form-dropdown", class: "form-text" %>
    <%= f.collection_select :category_id, @categories, :id, :title, include_blank: true %>

    <%= f.submit "Submit" %>
  <% end %>
</div>
