<h1 class="center">Zombie Apocalypse Map</h1>
<p class = "map-key site-font center">
  Markers designate safe houses in your area.
</p>

<!-- Google Map -->
<div id="map"></div>
<div>
  <script>
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: new google.maps.LatLng(39.7495, -104.9999),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false,
      streetViewControl: false,
      panControl: false,
      zoomControlOptions: {
         position: google.maps.ControlPosition.LEFT_BOTTOM
      }
    });

    <% @safe_houses.each_index do |i| %>
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= @safe_houses[i].latitude %>, <%= @safe_houses[i].longitude %>),
        map: map
      });
    <% end %>

    <% @outbreaks.each_index do |i| %>
      var circle = new google.maps.Circle({
        strokeColor: '#FF0000',
        strokeOpacity: 0.6,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.2,
        map: map,
        center: new google.maps.LatLng(<%= @outbreaks[i].latitude %>, <%= @outbreaks[i].longitude %>),
        radius: <%= @outbreaks[i].danger * 75 %>
      });
    <% end %>

  </script>
</div>
