<p id="required-field" class="container">
  <%= "*Required field" %>
</p>
<div id="user-form" class="container">
  <%= form_for @user do |f| %>
    *<%= f.label :first_name, class: "form-text" %>
    <%= f.text_field :first_name %>

    *<%= f.label :last_name, class: "form-text" %>
    <%= f.text_field :last_name %>

    <%= f.label :address, class: "form-text" %>
    <%= f.text_field :address %>

    <%= f.label :city, class: "form-text" %>
    <%= f.text_field :city %>

    <%= f.label :state, class: "form-text" %>
    <%= f.text_field :state %>

    <%= f.label :zipcode, class: "form-text" %>
    <%= f.text_field :zipcode %>

    *<%= f.label :email, class: "form-text" %>
    <%= f.text_field :email %>

    *<%= f.label :password, class: "form-text" %>
    <%= f.password_field :password %>

    *<%= f.label :password_confirmation, class: "form-text" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Submit", class:"submit-btn" %>
  <% end %>
</div>
