<h1>Order Details for <%= @order.formatted_date %>: </h1>

<% @order.items.each do |item| %>
<ul>
  <li>
  <%= link_to item.title, item %>
  </li>
</ul>
<% end %>

<%= @order.item_quantities %>
<%= @order.item_subtotals %>

<%= number_to_currency(@order.total) %>
<%= @order.formatted_date %>

Status: <%= @order.status %>
<%= @order.show_updated_status %>
