<div class="container center">
  <h1>Order Details for <%= @order.formatted_date %>: </h1>
</div>

<table class="container bordered highlight">
  <thead>
    <tr class="order-item-table table-headers">
        <th class="item-header" data-field="image">Item</th>
        <th data-field="item"></th>
        <th class="center" data-field="quantity">Quantity</th>
        <th class="center" data-field="price">Price</th>
        <th class="center" data-field="total">Total</th>
    </tr>
  </thead>

  <tbody>
    <% @order.items.each do |item| %>
      <tr class="order-item-table">
        <td>
          <div class="order-image center">
            <%= link_to image_tag(item.image), item %>
          </div>
        </td>
        <td>
          <div class="order-item-title">
            <p><%= item.title.capitalize %></p>
          </div>
        </td>
        <td class="order-item-quantity center">
          <% item_quantity = @order.order_items.find_by(item_id: item.id).quantity %>
          <%= item_quantity %>
        </td>

        <td class="item-price center"><%= number_to_currency(item.price) %></td>

        <td class="item-subtotal center"><%= number_to_currency(item.price * item_quantity) %></td>
      </tr>
    <% end %>
    <tr class="order-item-table">
      <td></td>
      <td></td>
      <td></td>
      <td class="order-subtotal table-headers right-align">
        <strong>Subtotal:</strong>
      </td>
      <td class="order-subtotal center">
        <%= number_to_currency(@order.total) %>
      </td>
    </tr>
  </tbody>
</table>

<div class="status">
  Status: <%= @order.status %>
  <%= @order.show_updated_status %>
</div>
