<div id="item-show" class="container site-font">
  <div class="row">
    <div class="col s8 center">
        <img src=<%= @item.image %>>
    </div>
    <div class="col s4">
      <h1><%= @item.title %></h1>
      <p><%= @item.description %></p>
      <p><%= number_to_currency(@item.price) %></p>
      <%= render partial: @partial %>
    </div>
  </div>
</div>
