<h1><%= @item.title %></h1>

<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src=<%= @item.image %>>
  </div>
  <div class="card-content">
    <span class="item-title activator grey-text text-darken-4"><%= @item.title %></span>
    <span class="right activator grey-text text-darken-4 card-price"><%= number_to_currency(@item.price) %></span>
    <div class="add-to-duffel center-align">
      <%= render partial: @partial %>
    </div>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><%= @item.title %><i class="material-icons right">close</i></span>
    <strong><%= @item.title %></strong>
    <p><%= @item.description %></p>
  </div>
</div>
