<div id="item-show" class="container site-font">
  <div class="row">
    <div class="col s8 center">
        <img src=<%= @item.image %>>
    </div>
    <div class="col s4">
      <h1><%= @item.title %></h1>
      <p><%= @item.description %></p>
      <p><%= number_to_currency(@item.price) %></p>
    </div>
    <div class="admin-btns">
      <p><%= render partial: @partial %></p>
      <% if current_user.admin? %>
        <p><%= link_to "Edit Item", edit_admin_item_path(@item), class: "black center-align waves-effect waves-light btn site-font" %></p>
        <p><%= link_to "Delete Item", admin_item_path(@item), method: :delete, class: "black center-align waves-effect waves-light btn site-font" %></p>
      <% end %>
    </div>
  </div>
</div>
