<div class="container center">
  <h1>Your Duffel Bag</h1>
</div>

<table class="container bordered highlight">
  <thead>
    <tr class="duffel-table table-headers">
        <th class="item-header" data-field="image">Item</th>
        <th data-field="item"></th>
        <th class="center" data-field="quantity">Quantity</th>
        <th class="center" data-field="price">Price</th>
        <th class="center" data-field="total">Total</th>
        <th class="right" data-field="remove"></th>
    </tr>
  </thead>

  <tbody>
    <% @duffel.duffel_items.each do |item| %>
      <tr class="duffel-table">
        <td>
          <div class="cart-image center">
            <%= image_tag(item.image) %>
          </div>
        </td>

        <td>
          <div class="cart-item-info">
            <p><strong><%= item.title %></strong></p>
            <p><%= item.description %></p>
          </div>
        </td>

        <td id="cart-item-quantity" class="center">
          <%= link_to duffel_item_path(item.id, function: "subtract"), method: :patch do %>
            <i class="minus-icon material-icons md-18 quantity-button">remove_circle_outline</i>
          <% end %>
            <span class="item-count"><%= @duffel.count_of(item.id) %></span>
          <%= link_to duffel_item_path(item.id, function: "add"), method: :patch do %>
            <i class="md-18 material-icons quantity-button">add_circle_outline</i>
          <% end %>
        </td>

        <td class="center"><%= number_to_currency(item.price) %></td>

        <td id="item-subtotal" class="center"><%= number_to_currency(@duffel.item_subtotal(item.id)) %></td>
        <td>
          <%= link_to duffel_item_path(item.id, function: "remove"), method: :patch do %>
            <i class="material-icons md-18 remove-button">clear</i>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr class="duffel-table">
      <td></td>
      <td></td>
      <td></td>
      <td class="table-headers right-align">
        <strong>Subtotal:</strong>
      </td>
      <td id="cart-subtotal" class="center">
        <%= number_to_currency(@duffel.subtotal) %>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>

<div class="checkout">
  <%= link_to "Checkout", duffel_path, class:"btn black" %>
</div>
